.available_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 10px;
    background-color: $main_color;
    color: $secondary_color;
    border: 1px solid $secondary_color;
    border-radius: 10px;
    cursor: pointer;
}

.btn {
    width: 250px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main_color;
    color: $secondary_color;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    border: 1px solid $main_color;
    cursor: pointer;
}